<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.13">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <org.jenkinsci.plugins.gwt.GenericTrigger plugin="generic-webhook-trigger@1.67">
      <spec></spec>
      <genericVariables>
        <org.jenkinsci.plugins.gwt.GenericVariable>
          <expressionType>JSONPath</expressionType>
          <key>repository</key>
          <value>$.events[*].target.repository</value>
          <regexpFilter></regexpFilter>
          <defaultValue></defaultValue>
        </org.jenkinsci.plugins.gwt.GenericVariable>
        <org.jenkinsci.plugins.gwt.GenericVariable>
          <expressionType>JSONPath</expressionType>
          <key>tag</key>
          <value>$.events[*].target.tag</value>
          <regexpFilter></regexpFilter>
          <defaultValue></defaultValue>
        </org.jenkinsci.plugins.gwt.GenericVariable>
        <org.jenkinsci.plugins.gwt.GenericVariable>
          <expressionType>JSONPath</expressionType>
          <key>addr</key>
          <value>$.events[*].source.addr</value>
          <regexpFilter></regexpFilter>
          <defaultValue></defaultValue>
        </org.jenkinsci.plugins.gwt.GenericVariable>
        <org.jenkinsci.plugins.gwt.GenericVariable>
          <expressionType>JSONPath</expressionType>
          <key>action</key>
          <value>$.events[*].action</value>
          <regexpFilter></regexpFilter>
          <defaultValue></defaultValue>
        </org.jenkinsci.plugins.gwt.GenericVariable>
      </genericVariables>
      <regexpFilterText>${action_0}:${tag_0}:${repository_0}</regexpFilterText>
      <regexpFilterExpression>push:(?:(?!\$\{tag_0\}).+):(?:(?!\$\{repository_0\}).+)</regexpFilterExpression>
      <printPostContent>true</printPostContent>
      <printContributedVariables>true</printContributedVariables>
      <causeString>Generic Cause $repository $tag ${action_0}:${tag_0}:${repository_0}</causeString>
      <token></token>
      <silentResponse>false</silentResponse>
      <overrideQuietPeriod>false</overrideQuietPeriod>
    </org.jenkinsci.plugins.gwt.GenericTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>mkdir -p project
docker pull localhost:35000/${repository_0}:${tag_0}
docker run -i -e &quot;SNYK_TOKEN=${SNYK_API_KEY}&quot; -e &quot;MONITOR=true&quot; -v &quot;project:/project:rw&quot; -v &quot;/var/run/docker.sock:/var/run/docker.sock&quot; snyk/snyk-cli:docker test --docker localhost:35000/${repository_0}:${tag_0} --json-file-output=/project/findings.json

echo &quot;tag=${tag_0} repository=${repository_0} addr=${addr_0}&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>